<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
        <listener class-name="listeners.CustomListeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="Bank Manager Login Test">
        <classes>
            <class name="testcases.BankManagerLoginTest"></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Add Customer Test">
        <parameter name="firstName" value="osman"></parameter>
        <parameter name="lastName" value="bzd"></parameter>
        <parameter name="postCode" value="123"></parameter>
        <parameter name="confirmation" value="Customer added successfully"></parameter>
        <classes>
            <class name="testcases.AddCustomerTest"></class>
        </classes>
    </test>
</suite>