<h2>Reporter output</h2><table><tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> xpath: //button[text()='Bank Manager Login']]Webelemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> xpath: //button[text()='Bank Manager Login']] clicked.</td></tr>
<tr><td>Bank manager login button clicked</td></tr>
<tr><td>loginButtonsuccessfully executed</td></tr>
<tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShotReports/1.png"><p align="left">screenshot </p></td></tr>
<tr><td><br></td></tr>
<tr><td><img src="System.getProperty("user.dir") + "/src/test/java/screenShotReports/1.png" width =200 height=200></img></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShotReports/1.png"width =200 height=200><p align="left"> </p></td></tr>
<tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> css selector: button[ng-click='addCust()']]Webelemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> css selector: button[ng-click='addCust()']] clicked.</td></tr>
<tr><td>Webelemenet found</td></tr>
<tr><td>osman typed.</td></tr>
<tr><td>Webelemenet found</td></tr>
<tr><td>bzd typed.</td></tr>
<tr><td>Webelemenet found</td></tr>
<tr><td>123 typed.</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> css selector: button[class='btn btn-default']]Webelemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (9ec6c3f15d877f19f4fe8656971e3e12)] -> css selector: button[class='btn btn-default']] clicked.</td></tr>
<tr><td>addCustomersuccessfully executed</td></tr>
<tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShotReports/1.png"><p align="left">screenshot </p></td></tr>
<tr><td><br></td></tr>
<tr><td><img src="System.getProperty("user.dir") + "/src/test/java/screenShotReports/1.png" width =200 height=200></img></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShotReports/1.png"width =200 height=200><p align="left"> </p></td></tr>
</table>