<h2>Reporter output</h2><table><tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:12BankManagerLoginTest.png"><p align="left">screenshot </p></td></tr>
<tr><td><br>Verification failure<br>expected [ab] but found [abc]<br></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:12BankManagerLoginTest.png"width =200 height=200><p align="left"> </p></td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> xpath: //button[text()='Bank Manager Login']]Web elemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> xpath: //button[text()='Bank Manager Login']] clicked.</td></tr>
<tr><td>Bank manager login button clicked</td></tr>
<tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:31loginButton.png"><p align="left">screenshot </p></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:31loginButton.png"width =200 height=200><p align="left"> </p></td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[ng-click='addCust()']]Web elemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[ng-click='addCust()']] clicked.</td></tr>
<tr><td>Web elemenet found</td></tr>
<tr><td>ali typed.</td></tr>
<tr><td>Web elemenet found</td></tr>
<tr><td>kaya typed.</td></tr>
<tr><td>Web elemenet found</td></tr>
<tr><td>123 typed.</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[class='btn btn-default']]Web elemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[class='btn btn-default']] clicked.</td></tr>
<tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:35addCustomer.png"><p align="left">screenshot </p></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:35addCustomer.png"width =200 height=200><p align="left"> </p></td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[ng-click='openAccount()']]Web elemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[ng-click='openAccount()']] clicked.</td></tr>
<tr><td>Dropdown found</td></tr>
<tr><td>ali kaya selected.</td></tr>
<tr><td>Dropdown found</td></tr>
<tr><td>Dollar selected.</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[type='submit']]Web elemenet found</td></tr>
<tr><td>[[ChromeDriver: chrome on mac (b36dc3854d87cbee7f3f55d53a66acdf)] -> css selector: button[type='submit']] clicked.</td></tr>
<tr><td><a target="_blank" href="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:37openAccount.png"><p align="left">screenshot </p></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><img src="/Users/osmanbozdag/IdeaProjects/DataDrivenProject/src/test/java/screenShots/2023-06-23T12:43:37openAccount.png"width =200 height=200><p align="left"> </p></td></tr>
</table>